<div class="container">
  <div class="hero-unit">
    <h1>{{success}}</h1>

    <p>Welcome in my "Marionette Boilerplate" project !</p>
    <p>Play with this boilerplate and... Have fun!</p>
    <h3>Enjoy coding!</h3>

  </div>
</div>
