<ul class="title-area">
  <li class="name">
    <h1>
      <a href="#">
        Henri Potier
      </a>
    </h1>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>{{t 'menu'}}</span></a></li>
</ul>

<section class="top-bar-section">
  <ul class="right">
    <li class="divider"></li>
    <li><a href="#">{{t 'main.item.1'}}</a></li>
    <li class="divider"></li>
    <li><a href="#">{{t 'main.item.2'}}</a></li>
    <li class="divider"></li>
    <li><a href="#">{{t 'main.item.3'}}</a></li>
  </ul>
</section>
