<div class="card">
  <div class="card-bg-gradient"></div>
  <div class="cover">
    <img src="{{cover}}" alt="{{title}}">
  </div>
  <div class="panel">
    <h5 class="truncate">{{title}}<span class="text-end"></span></h5>
    <h6 class="subheader text-right"><span class="price">{{price}} €</span></h6>
  </div>
</div>
