<div class="large-2 medium-2 small-3 columns">
  <img class="th" src="{{cover}}" alt="{{title}}">
</div>
<div class="large-10 medium-10 small-9 columns infos">
  <h5>{{title}}</h5>
  <p class="text-right"><span class="price">{{price}} <i class="fi-euro"></i></span></p>
</div>
